/*王林强*/
*{
    list-style: none;
    padding: 0;
    margin: 0;
}
a:hover{
    text-decoration: none;
}
body{
    position: relative;
}
header{
    position: absolute;
    width: 100%;
    margin-top: 50px;
    z-index: 999;   
  
}
.navbar{
    background-image: none;
    background-color:transparent;
    box-shadow: none;
    border: none;
    
}
nav.navbar-fixed-top{
    background: #fff;
    box-shadow:0 0 9px 0 rgba(0, 0, 0, 0.1);
}
.navbar-fixed-top .navbar-nav>li>a>span{
    color: rgba(0,0,0,0.5) ;
}
.navbar-fixed-top .navbar-brand{
    color: #52d3aa !important;
}
.navbar-fixed-top .active span{
    color: #52d3aa !important;
}
.navbar-fixed-top .navbar-nav > li > a:hover >span{
    color: #52d3aa ;
}
.navbar .navbar-brand{
    font-size: 28px;
    color: #fff;
}
.navbar-default .navbar-nav>li> a{
    color: rgba(255,255,255,0.8) ;
    font-size: 17px;
    position: relative;
}
.navbar-default .navbar-nav>li> a>span{
    position: relative;
    padding-bottom: 2px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover{
    background-image: none;
    box-shadow: none;
    background-color: transparent;
    color: #fff;
}
.navbar-nav a:hover span::before,
.navbar-default .navbar-nav > .active >a>span::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgba(255,255,255,0.5);
    bottom: 0;
}
.home{
    position: relative;
    width: 100%;
    background: linear-gradient(to bottom right,rgb(83,164,242), rgb(98,212,183));
}
.home,.text-wrap{
    height: 900px;
    overflow: hidden;
}
.home .text-wrap{
    display:table;
    
}
.home .text-wrap .text-inner{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.home .text-inner h1{
    margin-bottom: 20px;
    font-size: 50px;
    color: #fff;
}
.home .text-inner h2{
    font-size: 28px;
    line-height: 38px;
    font-weight: 300;
    color:rgba(255,255,255,0.8);
}
/* home尾巴 */
.slant{
    width: 101%;
    height: 70px;
    background: #fff;
    position: absolute;
    bottom: 0;
    margin-bottom: -40px;
    transform: rotate(-1.7deg)
}
/* home手机菜单 */
.navbar-default .navbar-toggle{
    border:none;
}
.navbar-default .navbar-toggle .icon-bar{
    background: #52d3aa; 
}

/* animated */
.animated{
    position: relative;
    width: 100%;
    margin-top: -130px;
    padding-bottom:140px;
}
.animated .col-md-4{
    padding: 0;
}
#cards{
    padding-bottom: 140px;
}
.animated .card{
    background: #fff;
    padding: 40px;
    text-align: center;
    box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
}
.animated .card i{
    font-size: 50px;
    color: #52d3aa;
}
.animated .card h2{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
}
.animated .card p{
    margin-bottom: 25px;
    font-size: 16px;
    color: #7f7f7f;
}
.animated .card button{
    background-color: #52d3aa;
    background-image: none;
    border: 2px solid transparent ;
    margin-bottom: 25px;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 4px;
}
.animated .card:hover{
    background-image: url(../bootstrapelate/images/img_7.jpg);
    background-size: cover;
}
.animated .card:hover i,
.animated .card:hover p,
.animated .card:hover button,
.animated .card:hover h2{
    color: #fff;
    background:transparent;
}
.animated .card:hover button{
    border: 1px solid #fff;
}
#video{
    text-align: center;
}
#video .text{
    font-weight: bold;
    color: #7f7f7f;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}
#video .player{
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
    font-size: 80px;
    color: #52d3aa;
    border: 3px solid #52d3aa;
    border-radius: 50%;
    cursor: pointer;
}
#video .player i{
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin-top: -30px;
    margin-left: -20px;
}
.work {
    position: relative;
    overflow: hidden;
    background-image: repeating-linear-gradient(to bottom right,#3f95ea, #52d3aa);
    padding: 140px 0;
}
.work p{
    color: rgba(255, 255, 255, 0.8);
}
.work .slant:first-child{
    top: 0;
    margin-top: -30px;
}
.section-heading{
    text-align: center;
}
.section-heading h2{
    color: #fff;
    font-size: 50px;
    font-weight: 300;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.section-heading h2::after{
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
    bottom: 0;
    left: 50%;
    margin-left: -40px;
    
}
.section-heading p{
    
    font-weight: 300;
    line-height: 1.5;
    font-size: 24px;
    margin-bottom: 90px;
}
.work .project{
    margin-bottom: 50px;
}
.work  .project-item{
    display: block;
    position: relative;
    background: #fff;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 30px;
    transition: 0.5s;
    top: 0;
    box-shadow: none;
}
.work  .project-item:hover{
    top: -15px;
    box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4)
}
.work .project-item img{
    width: 100%;
}
.work .project-item .text{
    padding: 10px 20px;
    
}
.work .project-item .text h2{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: black;
    
}
.work .project-item .text span{
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 400;
}
.work .footer{
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
}
.work .footer a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: underline;
}
.work .slant:last-child{
    bottom: 0;
    margin-bottom: -40px;
    top: none;
    margin-top: none;
}
.testimonials{
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}
.section-heading.section-heading-white h2{
    color: #444;
}
.section-heading.section-heading-white p{
    color:rgba(0, 0, 0, 0.4)
}
.section-heading.section-heading-white h2::after{
        background: #52d3aa;
}
.testimonials .text{
    padding: 30px;
    background-color: #52d3aa;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    font-style: oblique;
    position: relative;
    margin-bottom: 20px;
    border-radius: 7px;
}
.testimonials .text::before{
    content: '';
    position: absolute;
    border: 10px solid #52d3aa;
    top: 100%;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.testimonials .user{
    padding: 10px;
}
.testimonials .user .head{
    float: left;
    margin-right: 10px;
}
.testimonials .user .head img{
    width: 60px;
    border-radius: 50%;
}
.testimonials .user p{
    float: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.testimonials .user a{
    color: #52d3aa;
}
.testimonials .user p span{
    display: block;
    color: rgba(0, 0, 0, 0.4)
}
.services{
    position: relative;
    background: linear-gradient(to bottom right,rgb(83,164,242), rgb(98,212,183));
    padding-top: 100px;
    overflow: hidden;
    padding-bottom: 100px;
}
.services .slant:first-child{
    top: 0;
    margin-top: -30px;
}
.services .section-heading{
    text-align: left;
}
.services .section-heading h2{
    padding-left: 15px;
}
.services .section-heading h2::after{
    left: 0;
    margin-left: 15px;
}
.services .section-heading p{
    color: #fff;
}
.service{
    color: #fff;
    margin-bottom: 20px;
}
.service i{
    font-size: 70px;
    margin-bottom: 20px;
}
.service h3{
    margin-bottom: 20px;
}
.service p{
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 10px;
}
.about {
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 100px;
}
.about-item{
    border: 2px solid rgba(0,0,0,0.1);
    position: relative;
    padding: 50px 30px;
    text-align: center;
    margin-bottom: 100px;
}
.about-item .img{
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
}
.about-item img {
    width: 120px;
    border-radius: 50%;
}
.about-item h3{
    margin-top: 30px;
    font-weight: 400;
    margin-bottom: 0;
}
.about-item span{
    color: #b3b3b3;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
    display:block;
    margin-bottom: 20px;
}
.about-item p{
    color: #7f7f7f;
    font-size: 20px;
    margin-bottom: 20px;
}
.about-item li{
    display:inline-block;
    width: 40px;
    height: 40px;
}
.about-item li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #52d3aa;
    border-radius: 50%;
    position: relative;
    padding:10px;
}
.about-item li a i{
    font-size: 20px;
    color: #fff;
}
.fun{
    
}
/* 媒体查询 */
@media screen and (max-width: 768px) {
    header{
        margin-top: 0;
        background-color: #fff;
    }    
    .navbar{
        margin-bottom: 0;
    }
    .navbar .navbar-brand{
        color: #52d3aa;
    }
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > .active > a{
        color: #52d3aa !important;
    }
    .navbar-default .navbar-nav > li > a{
        color:rgba(0,0,0,0.5) !important;
    }
    /* home尾巴 */
    .slant{
        transform: none;
    }
}

/* 手机端 */
.navbar-default .navbar-collapse{
    border: none;
    box-shadow: none;
}